In [3]:
price1 = 15000
price2 = 25000
price3 = 45000

report ='i sold two pairs of shirt for {},a shoe for {}, and a suit for {}'
print(report.format(price1,price2,price3))

i sold two pairs of shirt for 15000,a shoe for 25000, and a suit for 45000

In [4]:
print(f'i sold two pairs of shirt for {price2},a shoe for {price1}, and a suit for {price3}')

i sold two pairs of shirt for 25000,a shoe for 15000, and a suit for 45000

In [5]:
word1 = 'python'
word2 = 'PYTHON'
word3 ='python is fun'
word4 = '      info@gmail.com'

print(word1.upper())
print(word2.lower())
print(word3.title())
print(word3.capitalize())
print(word3.split())
print(word4.strip())

PYTHON
python
Python Is Fun
Python is fun
['python', 'is', 'fun']
info@gmail.com

#  data type conversion

In [6]:
num1 = int(12.5)
print(num1)

12

In [7]:
num2 =float(45)
print(num2)

45.0

In [9]:
num3 = 252528.8235
print(int(num3))

252528

In [10]:
num4 = '50'
print(float(num4))

50.0

# OPERATORS

# +
# -
# *
# /
# % modulus
# // integre division
# ** exponential

In [12]:
num1 = 25
num2 = 15

print(f'{num1} + {num2} = {num1 + num2}')
print(f'{num1} - {num2} = {num1 - num2}')
print(f'{num1} * {num2} = {num1 * num2}')
print(f'{num1} / {num2} = {num1 / num2}')
print(f'{num1} % {num2} = {num1 % num2}')
print(f'{num1} // {num2} = {num1 // num2}')
print(f'{num1} ^ {num2} = {num1 ^ num2}')

25 + 15 = 40
25 - 15 = 10
25 * 15 = 375
25 / 15 = 1.6666666666666667
25 % 15 = 10
25 // 15 = 1
25 ^ 15 = 22

# comparism operators 
## > greater than
## < less than 
## >= greater than or equal to
## <= less than or equals to
## == equals to
## != not equals to

In [13]:
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)
print(num1 == num2)
print(num1 != num2)

True
False
True
False
False
True